{
    // 0: off
    // 1: warn
    // 2: error

    "extends": "rallycoding",
    // "extends": "eslint:recommended",
    "rules": {
        "quotes": ["warn", "double"],
        "prefer-template": 1,
        "padded-blocks": ["off", {"blocks": "always"}],
        "object-shorthand": 1
    }
}