h1, h2, h3, h4, h5, h6 {
    color:#005982 !important;
}
/* Here we can customise the customers brand colors*/

.brand-core1 {
    color:#005982 !important; 
}
.brand-core2 {
    color:#4fa391 !important;
}
.brand-core3 {
    color:#c7c6c6 !important;
}
.brand-acc1 {
    color:#fab24b !important; 
}
.brand-acc2 {
    color:#00aeef !important;
}
.brand-acc3 {
    color:#a8cf45 !important;
}

.no-padding.img-bg-1 {
  background: url(../images/hpe-robot-bg.jpg) scroll center no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
}
.no-padding.img-bg-2 {
  background: url(../images/hpe-robothand-bg.jpg) scroll center no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
}

/* Counter Text Format*/

.p-lg {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 15px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  padding-bottom: 10px
}

.p-md {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 15px;
  color: #fff;
  font-family: "Raleway", sans-serif;
}
.p-b-md {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 12px;
  margin-bottom: 15px;
  color: #005982;
  font-family: "Raleway", sans-serif;
} 
/* Sponsosr CSS on Main Page */

.chirp-bg-plat-lg {
    background:  url('/images/platinum-background.jpg') no-repeat center left;
    background-size: 100% auto;
    height: auto !important;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
        }
.chirp-bg-plat-xs {
    background:  url('/images/platinum-background.jpg') no-repeat center left;
    background-size: auto 100%;
    height: auto !important;
    background-position: top center;
}

/* Footer CSS */
.dark-bg {
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.dark-bg h4{
    color: #fff !important;
}
.dark-bg p{
    color: #fff !important;
}
.dark-bg i{
    color: #fff !important;
}

.dark-bg a  {
    color:#00aeef !important;
}

.dark-bg a:hover {
    color:#00aeef !important;
    font-weight: bolder;
}

.footer-light {
    background:#c7c6c6!important;
}
.footer-light p {
    color: darkslategrey !important;
}
.map
{
    filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);    
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
}


