/*========grid-responsive=======*/

@media all and (min-width: 768px) and (max-width: 1024px){
	.smls-main-logo-wrapper .smls-tablet-column-2 .smls-popup-wrap:nth-of-type(2n+1),
	.smls-main-logo-wrapper .smls-tablet-column-2 .smls-grid-each-item:nth-of-type(2n+1),
	.smls-main-logo-wrapper .smls-tablet-column-2 .smls-grid-image-wrap:nth-of-type(2n+1),
	.smls-main-logo-wrapper .smls-tablet-column-3 .smls-popup-wrap:nth-of-type(3n+1),
	.smls-main-logo-wrapper .smls-tablet-column-3 .smls-grid-each-item:nth-of-type(3n+1),
	.smls-main-logo-wrapper .smls-tablet-column-3 .smls-grid-image-wrap:nth-of-type(3n+1),
	.smls-main-logo-wrapper .smls-tablet-column-4 .smls-popup-wrap:nth-of-type(4n+1),
	.smls-main-logo-wrapper .smls-tablet-column-4 .smls-grid-each-item:nth-of-type(4n+1),
	.smls-main-logo-wrapper .smls-tablet-column-4 .smls-grid-image-wrap:nth-of-type(4n+1) {
		clear: left;
	}
	.ap-template-wise-design .ap-container-5 .ap-container.smls-temp-4-wrap {
		max-width: 100%;
	}
	.smls-tablet-column-2 .smls-popup-wrap,
	.smls-tablet-column-2 .smls-grid-each-item,
	.smls-tablet-column-2 .smls-grid-image-wrap,
	.smls-grid-container-template-8.smls-tablet-column-2 .smls-logo-rec-wrap,
	.smls-grid-container-template-9.smls-tablet-column-2 .smls-grid-nine-wapper {
	    width:50%;
	}
	.smls-tablet-column-3 .smls-popup-wrap,
	.smls-tablet-column-3 .smls-grid-each-item,
	.smls-tablet-column-3 .smls-grid-image-wrap,
	.smls-grid-container-template-8.smls-tablet-column-3 .smls-logo-rec-wrap,
	.smls-grid-container-template-9.smls-tablet-column-3 .smls-grid-nine-wapper {
	    width:33.33%;
	}
	.smls-tablet-column-4 .smls-popup-wrap,
	.smls-tablet-column-4 .smls-grid-each-item,
	.smls-tablet-column-4 .smls-grid-image-wrap,
	.smls-grid-container-template-8.smls-tablet-column-4 .smls-logo-rec-wrap,
	.smls-grid-container-template-9.smls-tablet-column-4 .smls-grid-nine-wapper {
	    width:25%;
	}
	.smls-grid-container-template-4.smls-tablet-column-4 .smls-popup-wrap, 
	.smls-grid-container-template-4.smls-tablet-column-4 .smls-grid-each-item, 
	.smls-grid-container-template-5.smls-tablet-column-4 .smls-popup-wrap, 
	.smls-grid-container-template-5.smls-tablet-column-4 .smls-grid-each-item, 
	.smls-grid-container-template-4.smls-tablet-column-4 .smls-grid-image-wrap, 
	.smls-grid-container-template-5.smls-tablet-column-4 .smls-grid-image-wrap{
		width: 23%;
		min-height: 100px;
		max-height: 120px;
		padding:10px;
	}
	/*.smls-grid-container-template-5.smls-tablet-column-4 .smls-popup-wrap .smls-url-link-only, 
	.smls-grid-container-template-5.smls-tablet-column-4 .smls-grid-each-item .smls-url-link-only, 
	.smls-grid-container-template-5.smls-tablet-column-4 .smls-grid-image-wrap .smls-url-link-only, 
	.smls-grid-container-template-5.smls-tablet-column-4 .smls-popup-wrap a.smls-popup-tag, 
	.smls-grid-container-template-5.smls-tablet-column-4 .smls-grid-each-item a.smls-popup-tag, 
	.smls-grid-container-template-5.smls-tablet-column-4 .smls-grid-image-wrap a.smls-popup-tag {
    	min-height: 80px;
    	max-height: 80px;
	}*/
	.smls-grid-container-template-5.smls-tablet-column-4 .smls-popup-wrap, 
	.smls-grid-container-template-5.smls-tablet-column-4 .smls-grid-each-item, 
	.smls-grid-container-template-5.smls-tablet-column-4 .smls-grid-image-wrap {
		max-height: 160px;
		min-height: 120px;
	}
	.smls-grid-container-template-5 .smls-popup-wrap .smls-only-image-wrap, 
	.smls-grid-container-template-5 .smls-grid-each-item .smls-inline-img-wrap,
	.smls-grid-container-template-5 .smls-grid-each-item .smls-logo-inline-detail, 
	.smls-grid-container-template-5 .smls-grid-image-wrap .smls-url-link-only,
	.smls-grid-container-template-5 .smls-popup-wrap a.smls-popup-tag {
    	min-height: 100px;
    	max-height: 100px;
	}
	.smls-grid-container-template-6.smls-tablet-column-4 .smls-popup-wrap,
	.smls-grid-container-template-6.smls-tablet-column-4 .smls-grid-each-item,
	.smls-grid-container-template-6.smls-tablet-column-4 .smls-grid-image-wrap{
		width: 23%;
		min-height: 100px;
		max-height: 120px;
	}
	.smls-grid-container-template-4.smls-tablet-column-3 .smls-popup-wrap, 
	.smls-grid-container-template-4.smls-tablet-column-3 .smls-grid-each-item, 
	.smls-grid-container-template-5.smls-tablet-column-3 .smls-popup-wrap, 
	.smls-grid-container-template-5.smls-tablet-column-3 .smls-grid-each-item, 
	.smls-grid-container-template-4.smls-tablet-column-3 .smls-grid-image-wrap, 
	.smls-grid-container-template-5.smls-tablet-column-3 .smls-grid-image-wrap,
	.smls-grid-container-template-6.smls-tablet-column-3 .smls-popup-wrap,
	.smls-grid-container-template-6.smls-tablet-column-3 .smls-grid-each-item,
	.smls-grid-container-template-6.smls-tablet-column-3 .smls-grid-image-wrap{
		width: 31.5%;
		min-height: 140px;
		max-height: 160px;
	}
	.smls-grid-container-template-4.smls-tablet-column-2 .smls-popup-wrap, 
	.smls-grid-container-template-4.smls-tablet-column-2 .smls-grid-each-item, 
	.smls-grid-container-template-5.smls-tablet-column-2 .smls-popup-wrap, 
	.smls-grid-container-template-5.smls-tablet-column-2 .smls-grid-each-item, 
	.smls-grid-container-template-4.smls-tablet-column-2 .smls-grid-image-wrap, 
	.smls-grid-container-template-5.smls-tablet-column-2 .smls-grid-image-wrap,
	.smls-grid-container-template-6.smls-tablet-column-2 .smls-popup-wrap,
	.smls-grid-container-template-6.smls-tablet-column-2 .smls-grid-each-item,
	.smls-grid-container-template-6.smls-tablet-column-2 .smls-grid-image-wrap{
		width: 48%;
	}
	.smls-grid-container-template-7.smls-tablet-column-2 .smls-grid-image-wrap,
	.smls-grid-container-template-7.smls-tablet-column-3 .smls-grid-image-wrap,
	.smls-grid-container-template-7.smls-tablet-column-4 .smls-grid-image-wrap {
		width: 47%;
	}
	.smls-grid-container-template-7.smls-tablet-column-2 .smls-grid-image-wrap:nth-of-type(2n+1) .smls-logo-image-container:hover,
	.smls-grid-container-template-7.smls-tablet-column-3 .smls-grid-image-wrap:nth-of-type(2n+1) .smls-logo-image-container:hover,
	.smls-grid-container-template-7.smls-tablet-column-4 .smls-grid-image-wrap:nth-of-type(2n+1) .smls-logo-image-container:hover {
		right: -245px;
    	left: 0;
    	z-index: 99;
	}
	.smls-grid-container-template-7.smls-tablet-column-2,
	.smls-grid-container-template-7.smls-tablet-column-3,
	.smls-grid-container-template-7.smls-tablet-column-4 {
		max-width: 516px;
	}
	.smls-grid-container-template-9.smls-tablet-column-2 .smls-grid-nine-wapper,
	.smls-grid-container-template-9.smls-tablet-column-3 .smls-grid-nine-wapper,
	.smls-grid-container-template-9.smls-tablet-column-4 .smls-grid-nine-wapper {
		min-height: 140px;
		max-height: 180px;
	}
	.smls-grid-container-template-9.smls-tablet-column-2 .smls-grid-nine-wapper:nth-of-type(2n) .smls-grid-nine-container,
	.smls-grid-container-template-9.smls-tablet-column-3 .smls-grid-nine-wapper:nth-of-type(3n) .smls-grid-nine-container,
	.smls-grid-container-template-9.smls-tablet-column-4 .smls-grid-nine-wapper:nth-of-type(4n) .smls-grid-nine-container{
	    left: auto;
	    right: 90%;
	}
	.smls-grid-container-template-9.smls-tablet-column-2 .smls-grid-nine-wapper:nth-of-type(2n) .smls-grid-nine-container:before,
	.smls-grid-container-template-9.smls-tablet-column-3 .smls-grid-nine-wapper:nth-of-type(3n) .smls-grid-nine-container:before,
	.smls-grid-container-template-9.smls-tablet-column-4 .smls-grid-nine-wapper:nth-of-type(4n) .smls-grid-nine-container:before {
	    border-color:transparent transparent transparent  #c0b9b9;
	    left: auto;
	    right: -27px;
	}
	.smls-grid-container-template-4.smls-tablet-column-2 .smls-popup-wrap:nth-of-type(2n),
	.smls-grid-container-template-4.smls-tablet-column-2 .smls-grid-each-item:nth-of-type(2n),
	.smls-grid-container-template-4.smls-tablet-column-2 .smls-grid-image-wrap:nth-of-type(2n),
	.smls-grid-container-template-4.smls-tablet-column-3 .smls-popup-wrap:nth-of-type(3n),
	.smls-grid-container-template-4.smls-tablet-column-3 .smls-grid-each-item:nth-of-type(3n),
	.smls-grid-container-template-4.smls-tablet-column-3 .smls-grid-image-wrap:nth-of-type(3n),
	.smls-grid-container-template-4.smls-tablet-column-4 .smls-popup-wrap:nth-of-type(4n),
	.smls-grid-container-template-4.smls-tablet-column-4 .smls-grid-each-item:nth-of-type(4n),
	.smls-grid-container-template-4.smls-tablet-column-4 .smls-grid-image-wrap:nth-of-type(4n),
	.smls-grid-container-template-5.smls-tablet-column-2 .smls-popup-wrap:nth-of-type(2n),
	.smls-grid-container-template-5.smls-tablet-column-2 .smls-grid-each-item:nth-of-type(2n),
	.smls-grid-container-template-5.smls-tablet-column-2 .smls-grid-image-wrap:nth-of-type(2n),
	.smls-grid-container-template-5.smls-tablet-column-3 .smls-popup-wrap:nth-of-type(3n),
	.smls-grid-container-template-5.smls-tablet-column-3 .smls-grid-each-item:nth-of-type(3n),
	.smls-grid-container-template-5.smls-tablet-column-3 .smls-grid-image-wrap:nth-of-type(3n),
	.smls-grid-container-template-5.smls-tablet-column-4 .smls-popup-wrap:nth-of-type(4n),
	.smls-grid-container-template-5.smls-tablet-column-4 .smls-grid-each-item:nth-of-type(4n),
	.smls-grid-container-template-5.smls-tablet-column-4 .smls-grid-image-wrap:nth-of-type(4n){
		margin-right: 0;
	}
	.smls-carousel-template-7 .smls-carousel-two-title {
		margin-top: 0;
	}
	.smls-carousel-template-7 .smls-carousel-two-description {
		line-height: 1.5;
	}
	.smls-logo-inline-wrap {
		padding: 20px;
	}
	.smls-inline-gallery-detail-wrap-template-1 a {
    	width: 23%;
    	margin: 0;
    	border:4px solid #eeeeee;
	}
	.smls-contact-block-template-1 .smls-social-icon-wrap {
		margin:10px 0;
	}
	.smls-contact-block-template-1 .smls-company-address, 
	.smls-contact-block-template-1 .smls-company-contact-number, 
	.smls-contact-block-template-1 .smls-company-email, 
	.smls-contact-block-template-1 .smls-company-url, 
	.smls-inline-3-contact-wrap .smls-company-address, 
	.smls-inline-3-contact-wrap .smls-company-contact-number, 
	.smls-inline-3-contact-wrap .smls-company-email, 
	.smls-inline-3-contact-wrap .smls-company-url {
	    display: block;
	    width: 100%;
	}
	/*list-template*/

	/*tooltip*/
	.smls-main-logo-wrapper .smls-tooltip-title-template-1 {
		width: 50%;
	}
}
@media all and (min-width: 850px) and (max-width: 1024px){
	.smls-grid-container-template-7.smls-tablet-column-3, 
	.smls-grid-container-template-7.smls-tablet-column-4 {
		max-width: 770px;
	}
	.smls-grid-container-template-7.smls-tablet-column-3 .smls-grid-image-wrap, 
	.smls-grid-container-template-7.smls-tablet-column-4 .smls-grid-image-wrap {
		width: 31.2%;
	}
	.smls-grid-container-template-7.smls-tablet-column-3 .smls-grid-image-wrap:nth-of-type(3n+1) .smls-logo-image-container:hover,
	.smls-grid-container-template-7.smls-tablet-column-4 .smls-grid-image-wrap:nth-of-type(3n+1) .smls-logo-image-container:hover {
		right: -245px;
    	left: 0;
    	z-index: 99;
	}
	.smls-grid-container-template-7.smls-tablet-column-3 .smls-grid-image-wrap:nth-of-type(3n) .smls-logo-image-container:hover,
	.smls-grid-container-template-7.smls-tablet-column-4 .smls-grid-image-wrap:nth-of-type(3n) .smls-logo-image-container:hover {
		right: auto;
    	left: -270px;
    	z-index: 99;
	}
}
@media all and (max-width: 850px) and (min-width:768px){
	.smls-grid-container-template-8.smls-tablet-column-4 .smls-logo-title {
	 	font-size: 18px;
	}
	.smls-grid-container-template-8.smls-tablet-column-4 .smls-logo-tagline,
	.smls-grid-container-template-8.smls-tablet-column-4 .smls-hover-icon-wrap a {
    	font-size: 12px;
    }
    .smls-grid-container-template-8.smls-tablet-column-4 .smls-pre-content-wrap {
    	min-height: 120px;
    }
    div.pp_default .pp_content {
    	max-width: 100%;
    }
    .smls-close {
    	right:20px;
    	top: 0;
    }
    div.pp_default .pp_close {
    	background-color:transparent;
    }
    .smls-contact-wrapper-template-2 {
    	padding-left: 20px;
    	margin-left: 1%;
    }
    .smls-carousel-template-5 .smls-car-two-content-wrap .smls-car-five-hover-wrap {
		padding: 10px;
	}
	.smls-carousel-template-5 .smls-carousel-two-title, 
	.smls-carousel-template-6 .smls-carousel-two-title {
		margin-bottom: 5px;
	}
	.smls-carousel-template-5 .smls-carousel-two-description, 
	.smls-carousel-template-6 .smls-carousel-two-description,
	.smls-carousel-template-7 .smls-carousel-two-description{
		margin-bottom: 10px;
		line-height: 1.3;
	}
	.smls-carousel-template-7 .smls-carousel-two-title {
		margin-bottom: 6px;
	}
	.smls-carousel-template-7 .smls-car-two-content-wrap {
		padding:15px;
	}
	.smls-carousel-template-6 .smls-car-two-content-wrap {
		padding: 15px;
	}
    /*list*/
    .smls-list-container-template-1 .smls-list-title, 
    .smls-list-container-template-2 .smls-list-title {
    	margin:5px 0 10px;
    }
    .smls-list-container-template-1 .smls-list-description, 
    .smls-list-container-template-2 .smls-list-description {
    	line-height: 1.7;
    }
    /*inline*/
    .smls-logo-inline-delete {
    	font-size: 20px;
    }
    .smls-inline-three-content-wrap {
    	padding-right: 10px;
    }
    .smls-inline-3-gallery-wrap {
    	margin-top:20px; 
    }
    .smls-inline-3-gallery-wrap a {
    	margin:0;
    }
    .smls-list-inline-contact, 
    .smls-list-inline-gallery {
    	float:none;
    	width: 100%;
    	margin-left: 0;
    }
    .smls-list-inline-contact {
    	margin-bottom: 20px;
    }
    .smls-content-wrap-template-2 {
    	margin-bottom: 10px;
	}
    .smls-gallery-wrap-template-2 a {
    	width: 15%;
    	margin:0;
    }

}
@media (max-width: 767px) {
	.smls-main-logo-wrapper .smls-mobile-column-2 .smls-popup-wrap:nth-of-type(2n+1),
	.smls-main-logo-wrapper .smls-mobile-column-2 .smls-grid-each-item:nth-of-type(2n+1),
	.smls-main-logo-wrapper .smls-mobile-column-2 .smls-grid-image-wrap:nth-of-type(2n+1),
	.smls-main-logo-wrapper .smls-mobile-column-3 .smls-popup-wrap:nth-of-type(3n+1),
	.smls-main-logo-wrapper .smls-mobile-column-3 .smls-grid-each-item:nth-of-type(3n+1),
	.smls-main-logo-wrapper .smls-mobile-column-3 .smls-grid-image-wrap:nth-of-type(3n+1) {
		clear:left;
	}
	.smls-mobile-column-1 .smls-popup-wrap,
	.smls-mobile-column-1 .smls-grid-each-item,
	.smls-mobile-column-1 .smls-grid-image-wrap,
	.smls-grid-container-template-8.smls-mobile-column-1 .smls-logo-rec-wrap,
	.smls-grid-container-template-9.smls-mobile-column-1 .smls-grid-nine-wapper {
	    width:100%;
	    max-width: 320px;
	    margin:0 auto;
	    float: none;
	}
	.smls-resposive-wrap .smls-grid-container-template-1.smls-mobile-column-1 .smls-popup-wrap:before,
	.smls-resposive-wrap .smls-grid-container-template-1.smls-mobile-column-1 .smls-grid-each-item:before,
	.smls-resposive-wrap .smls-grid-container-template-1.smls-mobile-column-1 .smls-grid-image-wrap:before{
		border-left: 0;
	}
	.smls-grid-container-template-2.smls-mobile-column-1 {
		max-width:320px;
		width:100%;
		margin:0 auto; 
	}
	.smls-mobile-column-2 .smls-popup-wrap,
	.smls-mobile-column-2 .smls-grid-each-item,
	.smls-mobile-column-2 .smls-grid-image-wrap,
	.smls-grid-container-template-8.smls-mobile-column-2 .smls-logo-rec-wrap,
	.smls-grid-container-template-9.smls-mobile-column-2 .smls-grid-nine-wapper {
	    width:50%;
	}
	.smls-grid-container-template-4.smls-mobile-column-2 .smls-popup-wrap, 
	.smls-grid-container-template-4.smls-mobile-column-2 .smls-grid-each-item, 
	.smls-grid-container-template-5.smls-mobile-column-2 .smls-popup-wrap, 
	.smls-grid-container-template-5.smls-mobile-column-2 .smls-grid-each-item, 
	.smls-grid-container-template-4.smls-mobile-column-2 .smls-grid-image-wrap, 
	.smls-grid-container-template-5.smls-mobile-column-2 .smls-grid-image-wrap {
		width: 48%;
		min-height: 120px;
		max-height: 160px;
	}
	.smls-grid-container-template-4.smls-mobile-column-1 .smls-popup-wrap, 
	.smls-grid-container-template-4.smls-mobile-column-1 .smls-grid-each-item, 
	.smls-grid-container-template-5.smls-mobile-column-1 .smls-popup-wrap, 
	.smls-grid-container-template-5.smls-mobile-column-1 .smls-grid-each-item, 
	.smls-grid-container-template-4.smls-mobile-column-1 .smls-grid-image-wrap, 
	.smls-grid-container-template-5.smls-mobile-column-1 .smls-grid-image-wrap {
		margin-bottom: 15px;
		min-height: 140px;
		max-height: 180px;
	}
	.smls-grid-container-template-6.smls-mobile-column-2 .smls-popup-wrap,
	.smls-grid-container-template-6.smls-mobile-column-2 .smls-grid-each-item,
	.smls-grid-container-template-6.smls-mobile-column-2 .smls-grid-image-wrap{
		width: 47%;
		min-height: 120px;
		max-height: 160px;
	}
	.smls-grid-container-template-7.smls-mobile-column-1 .smls-grid-image-wrap {
		width: 97%;
		margin-bottom: 10px;
	}
	.smls-grid-container-template-7.smls-mobile-column-2 .smls-grid-image-wrap{
		width: 47%;	
	}
	.smls-grid-container-template-7 .smls-logo-image-container:hover,
	.smls-grid-container-template-7.smls-mobile-column-1 .smls-grid-image-wrap:nth-of-type(2n+1) .smls-logo-image-container:hover{
		right: auto;
    	left: -253px;
    	z-index: 99;
	}
	.smls-grid-container-template-7.smls-mobile-column-2 .smls-grid-image-wrap:nth-of-type(2n+1) .smls-logo-image-container:hover {
		right: -245px;
    	left: 0;
    	z-index: 99;
	}
	.smls-grid-container-template-7.smls-mobile-column-2 {
		max-width: 520px;
	}
	.smls-grid-container-template-7.smls-mobile-column-1 {
		max-width: 240px;
	}
	.smls-grid-container-template-9.smls-mobile-column-2 .smls-grid-nine-wapper:nth-of-type(2n) .smls-grid-nine-container{
	    left: auto;
	    right: 90%;
	}
	.smls-grid-container-template-9.smls-mobile-column-2 .smls-grid-nine-wapper:nth-of-type(2n) .smls-grid-nine-container:before{
	    border-color:transparent transparent transparent  #c0b9b9;
	    left: auto;
	    right: -27px;
	}
	.smls-grid-container-template-9.smls-mobile-column-1 .smls-grid-nine-wapper .smls-grid-nine-container{
	    left: 20px;
	    top:80%;
	    width: 80%;
	}
	.smls-grid-container-template-9.smls-mobile-column-1 .smls-grid-nine-wapper .smls-grid-nine-container:before{
	    border-color:transparent transparent #c0b9b9 transparent;
	    left: 50%;
	    top:-27px;
	    margin-left: -12px;
	}
	.smls-grid-container-template-9.smls-mobile-column-1 .smls-grid-nine-wapper:last-child .smls-grid-nine-container {
		top:auto;
		bottom: 80%;
	}
	.smls-grid-container-template-9.smls-mobile-column-1 .smls-grid-nine-wapper:last-child .smls-grid-nine-container:before{
	    border-color: #c0b9b9 transparent transparent transparent;
	    left: 50%;
	    top:auto;
	    bottom: -27px;
	    margin-left: -12px;
	}
	.smls-grid-container-template-4.smls-mobile-column-2 .smls-popup-wrap:nth-of-type(2n),
	.smls-grid-container-template-4.smls-mobile-column-2 .smls-grid-each-item:nth-of-type(2n),
	.smls-grid-container-template-4.smls-mobile-column-2 .smls-grid-image-wrap:nth-of-type(2n),
	.smls-grid-container-template-5.smls-mobile-column-2 .smls-popup-wrap:nth-of-type(2n),
	.smls-grid-container-template-5.smls-mobile-column-2 .smls-grid-each-item:nth-of-type(2n),
	.smls-grid-container-template-5.smls-mobile-column-2 .smls-grid-image-wrap:nth-of-type(2n) {
		margin-right: 0;
	}
    .smls-carousel-template-3 .smls-car-three-content-wrap {
    	display: block;
    }
    .smls-carousel-template-2 .smls-item,
    .smls-carousel-template-2 .owl-item.center .smls-item,
    .smls-carousel-template-3 .owl-item .smls-carousel-3-items {
    	/*transform:scale(1) translateY(0);*/
    	transform:none;
    }
    .smls-carousel-template-2 .owl-item .smls-item .smls-car-two-content-wrap,
    .smls-carousel-template-2 .owl-item.center .smls-item .smls-car-two-content-wrap{
    	width: 100%;
    	display: block;
    	opacity: 1;
    	visibility: visible;
    	margin-bottom: 20px;
    }
	.smls-carousel-template-7 .smls-carousel-two-title {
		margin-top: 0;
	}
	.smls-carousel-template-7 .smls-carousel-two-description {
		line-height: 1.5;
	}
	/*popup*/
	div.pp_pic_holder,
	div.pp_default .pp_content,
	div.pp_overlay,
	.pp_hoverContainer,
	div.pp_default .pp_content_container .pp_details {
    	max-width: 100%;
    }
    div.ppt {
    	max-width: 100%;
    	margin:0;
    }
    div.pp_default .pp_content_container .pp_right {
    	padding-right: 20px;
    }
    .smls-close {
    	right:20px;
    	top:0;
    }
    div.pp_default .pp_close {
    	background-color:transparent;
    }
    .smls-popup-template-2 .smls-inline-gallery-detail-wrap a {
    	width: 16%;
    }
    .smls-popup-template-1 .smls-inline-gallery-detail-wrap a img,
    .smls-popup-template-2 .smls-inline-gallery-detail-wrap a img {
    	display: block;
    	width: 100%;
    }
    .smls-popup-template-2 .smls-popup-template2-wrap div,
    .smls-popup-template-1 .smls-popup-third-content-wrap, 
    .smls-popup-template-1 .smls-inline-gallery-detail-wrap,
    .smls-inline-template-2 .smls-logo-inline-description-wrap,
    .smls-contact-wrapper-template-2,
    .smls-contact-block-template-1,
    .smls-inline-gallery-detail-wrap-template-1,
    .smls-inline-three-content-wrap,
    .smls-inline-3-gallery-wrap,
    .smls-inline-template-3-wrap .smls-social-icon-wrap{
    	float: none;
    	width:100%;
    	margin-left:0;
    }
    .smls-contact-block-template-1 .smls-company-address, 
    .smls-contact-block-template-1 .smls-company-contact-number, 
    .smls-contact-block-template-1 .smls-company-email, 
    .smls-contact-block-template-1 .smls-company-url, 
    .smls-inline-3-contact-wrap .smls-company-address, 
    .smls-inline-3-contact-wrap .smls-company-contact-number, 
    .smls-inline-3-contact-wrap .smls-company-email, 
    .smls-inline-3-contact-wrap .smls-company-url {
    	width: 100%;
    	display: block;
    }
    .smls-inline-3-gallery-wrap {
    	margin-top: 15px;
    }
    .smls-popup-content-wrap .smls-contact-wrap,
    .smls-popup-template-1 .smls-social-icon-wrap {
    	margin-bottom: 15px;
    }
    /*inline*/
    .smls-inline-template-2 .smls-logo-inline-description-wrap,
	.smls-contact-wrapper-template-2,
	.smls-inline-three-content-wrap {
		padding: 0;
	}
	.smls-logo-inline-delete {
    	font-size: 20px;
    }
	.smls-logo-inline-wrap {
		padding:30px 20px;
	}
	.smls-contact-wrapper-template-2 {
		border-left:0;
	}
	.smls-logo-inline-delete {
		top:5px;
	}
	.smls-inline-gallery-detail-wrap-template-1 a {
		width: 22%;
		margin:0 15px 15px 0;
	}
	.smls-inline-three-content-wrap {
		border-right:none;
	}
	.smls-inline-3-contact-wrap .smls-social-icon-wrap {
		margin-bottom: 20px;
	}
	.smls-inline-3-gallery-wrap a{
		margin:0 5px 5px 0;
	}
	.smls-overlay-effect .smls-link-style span, 
    .smls-overlay-effect .smls-popup-icon span, 
    .smls-overlay-effect .smls-inline-icon span {
    	width: 40px;
    	height: 40px;
    	font-size: 18px;
    	line-height: 40px;
    }

	/*filter-tabs*/
	.smls-filter.smls-tab-template-5, 
	.smls-filter-blur.smls-tab-template-5 {
		text-align: left;
		padding: 0;
	}
}
@media (max-width: 640px) {
	.smls-list-container-template-1 .smls-list-block:nth-of-type(odd) .smls-list-image-wrap,
	.smls-list-container-template-1 .smls-list-block:nth-of-type(even) .smls-list-image-wrap {
		float: none;
		margin:0 0 20px;
		width: auto;
	}
	.smls-list-container-template-1 .smls-list-block:nth-of-type(odd) .smls-list-detail-wrap,
	.smls-list-container-template-1 .smls-list-block:nth-of-type(even) .smls-list-detail-wrap,
	.smls-list-container-template-2 .smls-list-detail-wrap {
		float:none;
		margin:0;
		width: 100%;
	}
	.smls-list-image-wrap .smls-popup-wrap a.smls-only-image-wrap{
		display: inline-block;
		width: auto;
	}
	.smls-list-container-template-2 .smls-list-image-wrap {
		float: none;
		margin:0 auto 20px;
		width: auto;
		text-align: center;
	}
	.smls-list-container-template-2 .smls-list-detail-wrap {
		text-align: center;
	}
	.smls-list-company-address p, 
	.smls-list-company-contact-number p, 
	.smls-list-company-email p, 
	.smls-list-company-url p {
		width: auto;
	}
	.smls-list-inline-gallery a {
		width:15%;
	}
	.smls-list-inline-contact, 
    .smls-list-inline-gallery {
    	float:none;
    	width: 100%;
    	margin-left: 0;
    }
    .smls-list-inline-contact {
    	margin-bottom: 20px;
    }
    .smls-list-contact-wrap {
    	display: inline-block;
    }
    .smls-carousel-template-2 .smls-item .smls-car-two-content-wrap {
    	display: block;
    	opacity: 1;
    	visibility: visible;
    	margin-bottom: 20px;
    }
    .smls-carousel-template-2 .owl-item.center .smls-item .smls-car-two-content-wrap {
    	width: 100%;
    	max-width: 450px;
    }
    .smls-carousel-template-2 .owl-item.center .smls-item {
    	/*opacity: 0;*/
    }
    .smls-carousel-logo.smls-text-arrow, 
    .smls-perspective.smls-text-arrow {
    	padding-top: 70px;
	}
    .smls-filter.smls-tab-template-5 li, 
    .smls-filter-blur.smls-tab-template-5 li a {
    	padding:12px 10px;
    	font-size: 14px;
    }
    /*inline*/
    .smls-gallery-wrap-template-2 a {
    	width: 25%;
    	margin:0;
    }
}
@media all and (max-width: 640px) and (min-width:481px){
	.smls-carousel-template-5 .smls-car-two-content-wrap .smls-car-five-hover-wrap {
		padding: 10px;
	}
	.smls-carousel-template-5 .smls-carousel-two-title, 
	.smls-carousel-template-6 .smls-carousel-two-title {
		margin-bottom: 5px;
	}
	.smls-carousel-template-5 .smls-carousel-two-description, 
	.smls-carousel-template-6 .smls-carousel-two-description,
	.smls-carousel-template-7 .smls-carousel-two-description {
		margin-bottom: 10px;
		line-height: 1.3;
	}
	.smls-carousel-template-7 .smls-car-two-content-wrap {
		padding: 10px 15px;
	}
	.smls-carousel-template-6 .smls-car-two-content-wrap {
		padding: 15px;
	}
}
@media (max-width: 480px){
	.smls-grid-container-template-1 .smls-popup-wrap, 
	.smls-grid-container-template-1 .smls-grid-each-item, 
	.smls-grid-container-template-1 .smls-grid-image-wrap, 
	.smls-grid-container-template-2 .smls-popup-wrap, 
	.smls-grid-container-template-2 .smls-grid-each-item, 
	.smls-grid-container-template-2 .smls-grid-image-wrap, 
	.smls-grid-container-template-4 .smls-popup-wrap, 
	.smls-grid-container-template-4 .smls-grid-each-item, 
	.smls-grid-container-template-4 .smls-grid-image-wrap, 
	.smls-grid-container-template-5 .smls-popup-wrap, 
	.smls-grid-container-template-5 .smls-grid-each-item, 
	.smls-grid-container-template-5 .smls-grid-image-wrap{
		padding: 10px;
	}
	.smls-list-container-template-1 .smls-list-description, 
	.smls-list-container-template-2 .smls-list-description {
		font-size: 16px;
		line-height: 1.5;
	}
	.smls-popup-template-1 .smls-popup-logo-image,
	.smls-popup-template-1 .smls-only-content-wrap {
		float: none;
		width: 100%;
		margin-left: 0;
	}
	.smls-popup-template-1 .smls-popup-logo-image {
		margin-bottom: 20px;
	}
	.smls-logo-inline-wrap{
		padding:25px 20px;
	}
	.smls-inline-gallery-detail-wrap-template-1 a {
	    width: 31%;
	    margin: 0 2px 2px 0;
	    border-width: 4px;
	}
	.smls-list-image-wrap .smls-inline-image-wrap img {
		width: 100%;
	}
	.smls-list-container-template-1 .smls-list-block:nth-of-type(odd) .smls-list-image-wrap, 
	.smls-list-container-template-1 .smls-list-block:nth-of-type(even) .smls-list-image-wrap,
	.smls-list-container-template-2 .smls-list-image-wrap {
		max-width: 300px;
		width: 100%;	
	}
	.smls-list-inline-gallery a {
		width:22%;
	}
	.smls-grid-container-template-7.smls-mobile-column-2 .smls-grid-image-wrap {
		width: 100%;
		margin-right: 0;
	}
	.smls-grid-container-template-7.smls-mobile-column-2 .smls-grid-image-wrap:nth-of-type(2n+1) .smls-logo-image-container:hover {
		right: auto;
    	left: -253px;
    	z-index: 99;
	}
	.smls-grid-container-template-7.smls-mobile-column-2 {
		max-width: 240px;
	}
	.smls-grid-container-template-5 .smls-popup-wrap, 
	.smls-grid-container-template-5 .smls-grid-each-item, 
	.smls-grid-container-template-5 .smls-grid-image-wrap {
		max-height: 160px;
	}
	.smls-perspective-template-2 .smls-perspective-title-block {
		padding: 15px 20px;
	}
	.smls-popup-template-1 .smls-first-content-wrap,
	.smls-popup-template-2 .smls-popup-third-content-wrap {
		display: block;
	}
	.smls-popup-content-wrap.smls-popup-template-2 .smls-contact-wrap {
		float: none;
		width: 100%;
	}
	.smls-popup-template-2 .smls-social-icon-wrap {
		float:none;
		width: 100%;
		margin-left: 0;
	}
	.smls-popup-template-2 .smls-inline-gallery-detail-wrap a {
    	width: 20%;
	}
	.smls-contact-block-template-1 .smls-social-icon-wrap {
		margin:5px 0 10px;
	}
	.smls-contact-wrapper-template-2 .smls-social-icon-wrap {
		margin-top: 10px;
	}
}
@media (max-width: 400px){ 
	.smls-mobile-column-2 .smls-popup-wrap,
	.smls-mobile-column-2 .smls-grid-each-item,
	.smls-mobile-column-2 .smls-grid-image-wrap,
	.smls-grid-container-template-8.smls-mobile-column-2 .smls-logo-rec-wrap,
	.smls-grid-container-template-9.smls-mobile-column-2 .smls-grid-nine-wapper,
	.smls-grid-container-template-4.smls-mobile-column-2 .smls-popup-wrap, 
	.smls-grid-container-template-4.smls-mobile-column-2 .smls-grid-each-item, 
	.smls-grid-container-template-5.smls-mobile-column-2 .smls-popup-wrap, 
	.smls-grid-container-template-5.smls-mobile-column-2 .smls-grid-each-item, 
	.smls-grid-container-template-4.smls-mobile-column-2 .smls-grid-image-wrap, 
	.smls-grid-container-template-5.smls-mobile-column-2 .smls-grid-image-wrap {
	    width:100%;
	    margin: 0;
	}
	.smls-grid-container-template-6.smls-mobile-column-2 .smls-popup-wrap, 
	.smls-grid-container-template-6.smls-mobile-column-2 .smls-grid-each-item, 
	.smls-grid-container-template-6.smls-mobile-column-2 .smls-grid-image-wrap{
		width: 100%;
		margin:5px 0;
	}
	.smls-grid-container-template-9.smls-mobile-column-1 .smls-grid-nine-wapper .smls-grid-nine-container {
		width: 90%;
	}
	.smls-popup-template-2 .smls-inline-gallery-detail-wrap a,
	.smls-popup-template-1 .smls-inline-gallery-detail-wrap a {
		width: 30%;
	}
	.smls-main-logo-wrapper .smls-gallery-wrap-template-2 a,
	.smls-main-logo-wrapper .smls-inline-3-gallery-wrap a {
		width: 21%;
		margin:2px;
	}
	#pp_full_res .smls-contact-wrap div p {
		width: 88%;
	}
	.smls-perspective.flipster {
		overflow: hidden;
	}
	.smls-main-logo-wrapper .smls-inline-gallery-detail-wrap-template-1 a{
	    width: 29%;
	}
}
